body {
    background-color: #002529;
    overflow: hidden;
}
body,
html,
#container {
    height: 0%;
    width: 0%;
    margin: 0;
    padding: 0;
}
text {
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    fill: #ededed;
    font-size: 36px;
    text-anchor: middle;
    font-weight: 700;
}